JPEGReplication/.vs/JPEGReplication/v14/.suo
JPEGReplication/Debug/JPEGReplication.exe
JPEGReplication/Debug/JPEGReplication.ilk
JPEGReplication/Debug/JPEGReplication.pdb
JPEGReplication/JPEGReplication.VC.VC.opendb
JPEGReplication/JPEGReplication.VC.db
JPEGReplication/JPEGReplication/Debug/JPEGReplication.log
JPEGReplication/JPEGReplication/Debug/JPEGReplication.obj
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/CL.command.1.tlog
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/CL.read.1.tlog
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/CL.write.1.tlog
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/JPEGReplication.lastbuildstate
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/link.command.1.tlog
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/link.read.1.tlog
JPEGReplication/JPEGReplication/Debug/JPEGReplication.tlog/link.write.1.tlog
JPEGReplication/JPEGReplication/Debug/vc140.idb
JPEGReplication/JPEGReplication/Debug/vc140.pdb
JPEGReplication/JPEGReplication/ReadMe.txt
